@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-size: 100%;
    
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color:rgb(53, 110, 179) ;
}
.logo2{
    height: 50px;
    width: 50px;
}
nav>a{
    text-decoration: none;
    color: aliceblue;
    margin: 30px;
}
main{
    background-color: rgba(192, 181, 181, 0.596) ;
}

#evento{
    text-align: center;
    background: rgba(31, 30, 30, 0.562);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 350px;
    height: 500px;
    margin: auto;
}
div>img{
   height: 100%;
   width: 100%;
    
}

.espacoDoEndereço{
    position: relative;
    width: 90%;
}
.mapa{
    
    position: relative;
    inset: 0%;
    width: 100%;
    text-align: center;
    background-color:rgb(245, 124, 44) ;
    color: aliceblue;
}
.mapa>iframe{
 padding: 40px;
 
}
.icones{
    height: 30px;
    width: 30px;
}
footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color:rgb(53, 110, 179) ;
    color: aliceblue;
    padding: 50px;
    font-size: 0.8em;
}
.endereco{
    width: 20%;
    display: inline-block;
}
.logo1{
   padding-right: 15px;

}
.links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color:rgb(53, 110, 179) ;
    color: aliceblue;
    padding-left: 40px;
    height:10px;
    width: 100%;
}
.info{
padding-right: 30px;

}
.criou{
    font-size: 12px;
}
.icon-cards {
    position: relative;
    width: 60vw;
    height: 40vw;
    width: 380px;
    max-height: 250px;
    margin: 0;
    color: rgba(255, 255, 255, 0);
    perspective: 1000px;
    transform-origin: center;
  }
  .icon-cards__content {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: translateZ(-30vw) rotateY(0);
    -webkit-animation: carousel 10s infinite cubic-bezier(0.77, 0, 0.175, 1) forwards;
            animation: carousel 10s infinite cubic-bezier(0.77, 0, 0.175, 1) forwards;
  }
  .icon-cards__content.step-animation {
    -webkit-animation: carousel 8s infinite steps(1) forwards;
            animation: carousel 8s infinite steps(1) forwards;
  }
  .icon-cards__item {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 60vw;
    height: 40vw;
    max-width: 380px;
    max-height: 250px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    transform-origin: center;
  }
  .icon-cards__item:nth-child(1) {
   
    transform: rotateY(0) translateZ(35vw);
  }
  .icon-cards__item:nth-child(2) {
    
    transform: rotateY(120deg) translateZ(35vw);
  }
  .icon-cards__item:nth-child(3) {
    
    transform: rotateY(240deg) translateZ(35vw);
  }
  
  @-webkit-keyframes carousel {
    0%, 17.5% {
      transform: translateZ(-35vw) rotateY(0);
    }
    27.5%, 45% {
      transform: translateZ(-35vw) rotateY(-120deg);
    }
    55%, 72.5% {
      transform: translateZ(-35vw) rotateY(-240deg);
    }
    82.5%, 100% {
      transform: translateZ(-35vw) rotateY(-360deg);
    }
  }
  
  @keyframes carousel {
    0%, 17.5% {
      transform: translateZ(-35vw) rotateY(0);
    }
    27.5%, 45% {
      transform: translateZ(-35vw) rotateY(-120deg);
    }
    55%, 72.5% {
      transform: translateZ(-35vw) rotateY(-240deg);
    }
    82.5%, 100% {
      transform: translateZ(-35vw) rotateY(-360deg);
    }
  }
 
 
  
  .checkbox {
    position: relative;
    margin-top: 2rem;
    font-size: 0.9rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #f4785600;
    transition: color 0.3s ease;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .checkbox:hover {
    color: #f7a95a00;
  }
  .checkbox__checkbox {
    position: relative;
    top: 0;
    width: 1.0625rem;
    height: 1.0625rem;
    background: rgba(255, 255, 255, 0);
    border: 1px solid currentColor;
    border-radius: 4px;
    vertical-align: middle;
    transition: background 0.1s ease;
    cursor: pointer;
  }
  .checkbox__checkbox::after {
    content: "";
    position: absolute;
    top: 1px;
    left: 5px;
    width: 5px;
    height: 11px;
    opacity: 0;
    transform: rotate(45deg) scale(0);
    border-right: 2px solid rgba(255, 255, 255, 0);
    border-bottom: 2px solid rgba(255, 255, 255, 0);
    transition: all 0.3s ease;
    transition-delay: 0.15s;
  }
  .checkbox__label {
    margin-left: 5px;
    vertical-align: middle;
    cursor: pointer;
  }
  .checkbox > input:checked ~ .checkbox__checkbox {
    border-color: transparent;
    
    -webkit-animation: jelly 0.6s ease;
            animation: jelly 0.6s ease;
  }
  .checkbox > input:checked ~ .checkbox__checkbox:after {
    opacity: 1;
    transform: rotate(45deg) scale(1);
  }
  
  @-webkit-keyframes jelly {
    from {
      transform: scale(1, 1);
    }
    30% {
      transform: scale(1.25, 0.75);
    }
    40% {
      transform: scale(0.75, 1.25);
    }
    50% {
      transform: scale(1.15, 0.85);
    }
    65% {
      transform: scale(0.95, 1.05);
    }
    75% {
      transform: scale(1.05, 0.95);
    }
    to {
      transform: scale(1, 1);
    }
  }
  
  @keyframes jelly {
    from {
      transform: scale(1, 1);
    }
    30% {
      transform: scale(1.25, 0.75);
    }
    40% {
      transform: scale(0.75, 1.25);
    }
    50% {
      transform: scale(1.15, 0.85);
    }
    65% {
      transform: scale(0.95, 1.05);
    }
    75% {
      transform: scale(1.05, 0.95);
    }
    to {
      transform: scale(1, 1);
    }
  }
#slide{
    padding-top: 50px;
    height: 500px;
    display: block;
    background-color: rgba(53, 110, 179, 0.767) ;
   
}
iframe{
   max-width: 100%;
   padding: 50px;
}
#video{
    background-image:url(foto/logo_horizontal_ICEB-1024x235.png) ;
    background-repeat:no-repeat;
    background-position: center;
    background-size: contain;
}
#slide{
    width: 90%;
}