@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-size: 100%;
    
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color:rgb(53, 110, 179) ;
}
.logo2{
    height: 50px;
    width: 50px;
}
nav>a{
    text-decoration: none;
    color: aliceblue;
    margin: 30px;
}
main{
    background-color: rgba(53, 110, 179, 0.596) ;
}

#evento{
    text-align: center;
    background: rgba(99, 95, 95, 0.37);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 350px;
    height: 450px;
    margin: auto;
}
div>img{
   height: 100%;
   width: 100%;
    
}

.espacoDoEndereço{
    position: relative;
    width: 90%;
}
.mapa{
    
    position: relative;
    inset: 0%;
    width: 100%;
    text-align: center;
    background-color:rgb(245, 124, 44) ;
    color: aliceblue;
}
.mapa>iframe{
 padding: 40px;
 
}
.icones{
    height: 30px;
    width: 30px;
}
footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color:rgb(53, 110, 179) ;
    color: aliceblue;
    padding: 50px;
}
.endereco{
    width: 20%;
}
.logo1{
   padding-right: 15px;

}
.criou{
    font-size: 12px;
}